.LeftSideBar{
	min-width: 235px;
	height: 100%;
	background: var(--leftSideBar_Color);
	box-shadow: var(--leftSideBar_shadow);
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items:  center;
	box-sizing: border-box;
	padding: 20px 15px;
	transition: 0.2s transform, width .3s;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.logo img{
	width: 170px;
}

.SearchBar{
	box-sizing: border-box;
	margin-top: 30px;

	position: relative;
}

.LeftSideBar .SearchBar{
	width: 100%;
}

.SearchBar i{
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color:#80808075;
}


.SearchBar input{
	box-shadow: var(--mildShadow);
	background: var(--search_Color2);
	border:none;
	outline: none;
	filter: brightness(1);
	box-sizing: border-box;
	padding: 10px 15px;
	font-weight: 600;
	border-radius: var(--standartBorderRadius1);
	color:var(--text_Color);
}

.LeftSideBar .SearchBar input{
	width: 100%;
}

.NavList{
	margin-top: 15px;
	overflow-y: auto;
	box-shadow: var(--littleLessMildShadow);
	background: var(--search_Color2);
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 15px;
	border-radius: var(--standartBorderRadius1);
	
}

.NavItem{
	display: flex;
	align-items: center;
	font-weight: 700;
	width: 100%;
	justify-content: flex-start;
	margin: 20px 0;
	color:var(--text_Color);
	cursor: pointer;
	position: relative;
	user-select: none;
	
}


.NavItem.active::before{
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	display: block;
	background: var(--blueColor);
	left: -15px;
	border-radius: 2px;
}

.NavItem.active{
	color: var(--blueColor);
}

.NavItem::before{
	content: "";
	position: absolute;
	width: 0px;
	height: 100%;
	display: block;
	background: var(--redColor);
	left: -15px;
	border-radius: 0px 2px 2px 0;
	transition: .1s;
}

.NavItem:hover::before{
	width: 5px;

}

.NavItem i{
	font-size: 20px;
	margin-right: 10px;
}

.NavItem .fas.fa-angle-down{
	font-size: 15px;
}

.NavItem .notificationCircle{
	left: 14px;
	top: -1px;
	width: 10px;
	height: 10px;
}

@media all and (max-width: 1000px){
	.LeftSideBar{
		position: absolute;
		z-index: 1;
	}
}